.home-main-section {
    background-color: var(--color-primary-700);
    color: var(--color-base-100);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    position: relative;
}

.home-main-section > div {
    width: 100%;
    max-width: 50rem;
}

.home-main-section h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.main-section-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 32px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    transition: box-shadow 0.3s ease;
}

/* Hover effect */
.main-section-form:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Estilo general para los inputs y el botón */
.form-multiple-select,
.form-date-range-picker {
    border: none;
    background-color: transparent;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    color: #222222;
    flex: 1;
    min-width: 150px;
}

.form-multiple-select:focus,
.form-date-range-picker:focus {
    outline: none;
}

/* Estilo para el contenedor del AutoComplete */
.form-multiple-select {
    flex: 1;
    min-width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
}

/* Estilo para el campo de entrada dentro del AutoComplete */
.form-multiple-select .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-radius: 32px;
    transition: background-color 0.3s ease;
}

/* Efecto hover para el campo de entrada */
.form-multiple-select .ant-select-selector:hover {
    background-color: var(--color-base-200);
}

/* Estilo para el campo de entrada real */
.form-multiple-select .ant-select-selection-search-input {
    height: 150px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #222222;
}

/* Estilo para el botón de búsqueda */
.main-section-form .button.button-base {
    background-color: var(--color-primary-700);
    color: #ffffff;
    border: none;
    border-radius: 32px;
    padding: 0.75rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-inline: 4px; /* Añadido para darle margen lateral */
}

/* Estilos adicionales para las secciones */
.home-recommendation-section {
    margin-top: 5rem;
}
.home-category-section {
    margin-top: 5rem;
}

.home-category-section,
.home-recommendation-section {
    padding-inline: 1rem;
}

.category-section-container a {
    flex-shrink: 0;
}

.recommendation-section-container {
    display: grid;
    grid-template-columns: 1fr; /* Una card por fila en pantallas chicas */
    gap: .5rem;
    padding-block: 1rem;
}

.category-section-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding-block: 1rem;
    width: 100%;
    max-width: calc(100dvw - 64px);
}

/* Media Query para pantallas mayores de 480px */
@media (width > 480px) {
    .recommendation-section-container {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }

    .category-section-container {
        max-width: calc(100dvw - 3rem);
    }
}

/* Media Query para pantallas mayores de 768px */
@media (width > 768px) {
    .recommendation-section-container {
        grid-template-columns: repeat(2, 1fr); /* Exactamente 2 columnas */
      }

    .home-main-section > h1 {
        text-align: center;
    }
}

/* Media Query para pantallas menores de 480px */
@media (max-width: 480px) {
    .main-section-form {
        flex-direction: column;
        align-items: stretch;
    }

    .form-multiple-select,
    .form-date-range-picker {
        width: 100%;
    }

    .button.button-base {
        align-self: center;
    }
}

/* Media Query para pantallas menores de 768px */
@media (max-width: 768px) {
    .main-section-form {
        flex-direction: column; /* Cambia a una columna */
        align-items: stretch; /* Que ocupe todo el ancho */
        border-radius: 24px;
    }

    .form-multiple-select,
    .form-date-range-picker,
    .button.button-base {
        width: 100%; /* Que ocupen todo el ancho disponible */
        min-width: 100%;
    }
    .main-section-form .button.button-base {
        display: block; /* Cambiar display a block o el valor que prefieras */
        margin-bottom: 8px;
        margin-inline: 0px;
    }
       
}
